html,body
{
  background-color:#ECF5FF;
}
#total
{
  margin:0px;
  padding: 0px;
  height:800px;
}

#header
{
  position: relative;
  width: 100%;
  height: 13%;
  margin-bottom: 10px;
  /*background-color:#a6e3e3;
  */
  background-color:  #ECF5FF;
  text-align: center;
}
figcaption
{
  font-size: 10%;
  font-style: italic;
}
nav
{
  position: relative;
  font-weight: bold;
  color: white;
  width: 50%;
  border-radius: 50px;
  text-align: center;
  background-color: #d1d9e3;
  z-index: 3;
  float: left;
}
nav ul  
{ 
  position: relative;
  display:none;
  visibility: hidden;
  list-style: none;
  margin: 0;
  padding: 0; 
}
nav li
{
  visibility: hidden;
}
nav:hover ul {
  position: absolute;
  display:block ;
}
nav li
{
  display:inline-block;
  border-top: 1px solid #b5a789;
  background-color: #daf5f5;
  width: 38.6em;
  color: black;
  visibility:visible;
  z-index: 100;
}
nav ul li:hover{
  background-color:white;
  visibility:visible;
  z-index: 3;
};
a
{
  text-decoration: none;
}
#body
{
  position: relative;
  width: 100%;
  height: 75%;
  margin-bottom: 10px;
}
#bodyleft
{
  position: relative;
  display: inline;
  float:left;
  width: 49%;
  height:100%;
  padding:1px;
  font-style: italic;
  background-color: #e6effa;
  margin-right: 5px;
}

#map_button
{
  position: relative;
  height: 10%;
  width: 50%;
  background-color: #e6effa;
  float: right;
}
#map {
  position: relative;
  height: 90%;
  /* The height is 400 pixels */
  width: 50%;
  float: right;
  margin-left: 3px;
  z-index: 1;
  /* The width is the width of the web page */
}
#output
{
  position: relative;
  height: 300px
}
#footer
{
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #ECF5FF;
  color:            black;
  text-align:       center;
  font-size: 80%;
}
